#app {
  max-width: 850px;
  margin: 0 auto;
}

nav {
  padding: 20px 0 20px 0;
}

table th {
  min-width: 83px;
}

.sort-header {
  background-image: url(./image/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
}

.form-group {
  margin-right: 1rem;
}
